<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VTubev0.1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.admin.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/admin/loginadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.admin.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/admin/html/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardListAdmin</servlet-name>
    <servlet-class>controller.admin.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardListAdmin</servlet-name>
    <url-pattern>/admin/html/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetMainCategory</servlet-name>
    <servlet-class>controller.admin.maincategory.SetMainCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMainCategory</servlet-name>
    <url-pattern>/admin/html/add_main_cate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadMainCateImage</servlet-name>
    <servlet-class>controller.admin.maincategory.UploadMainCateImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMainCateImage</servlet-name>
    <url-pattern>/admin/html/upload_main_cate_img</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetMainCategoryDis</servlet-name>
    <servlet-class>controller.admin.maincategory.SetMainCateDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMainCategoryDis</servlet-name>
    <url-pattern>/admin/html/addmaincate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListMainCateAdmin</servlet-name>
    <servlet-class>controller.admin.maincategory.ListMainCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMainCateAdmin</servlet-name>
    <url-pattern>/admin/html/listmaincate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMainCateAdmin</servlet-name>
    <servlet-class>controller.admin.maincategory.DeleteMainCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMainCateAdmin</servlet-name>
    <url-pattern>/admin/html/deletemaincategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeStatusMainCate</servlet-name>
    <servlet-class>controller.admin.maincategory.ChangeStatusMainCate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatusMainCate</servlet-name>
    <url-pattern>/admin/html/check_main_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMainCateToForm</servlet-name>
    <servlet-class>controller.admin.maincategory.UpdateMainCateToForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMainCateToForm</servlet-name>
    <url-pattern>/admin/html/updatemaincate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMainCategory</servlet-name>
    <servlet-class>controller.admin.maincategory.UpdateMainCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMainCategory</servlet-name>
    <url-pattern>/admin/html/update_main_cate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetSubCategoryDis</servlet-name>
    <servlet-class>controller.admin.subcategory.SetSubCategoryDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSubCategoryDis</servlet-name>
    <url-pattern>/admin/html/addsubcate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetSubCategory</servlet-name>
    <servlet-class>controller.admin.subcategory.SetSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSubCategory</servlet-name>
    <url-pattern>/admin/html/add_sub_cate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadSubCateImage</servlet-name>
    <servlet-class>controller.admin.subcategory.UploadSubCateImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSubCateImage</servlet-name>
    <url-pattern>/admin/html/upload_sub_cate_img</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListSubCategory</servlet-name>
    <servlet-class>controller.admin.subcategory.ListSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSubCategory</servlet-name>
    <url-pattern>/admin/html/listsubcate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeStatusSubCate</servlet-name>
    <servlet-class>controller.admin.subcategory.ChangeStatusSubCate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatusSubCate</servlet-name>
    <url-pattern>/admin/html/check_sub_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSubCateAdmin</servlet-name>
    <servlet-class>controller.admin.subcategory.DeleteSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubCateAdmin</servlet-name>
    <url-pattern>/admin/html/deletesubcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSubCateToForm</servlet-name>
    <servlet-class>controller.admin.subcategory.UpdateSubCateToForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubCateToForm</servlet-name>
    <url-pattern>/admin/html/updatesubcate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSubCategory</servlet-name>
    <servlet-class>controller.admin.subcategory.UpdateSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubCategory</servlet-name>
    <url-pattern>/admin/html/update_sub_cate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetVideoLink</servlet-name>
    <servlet-class>controller.admin.video.SetVideoLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetVideoLink</servlet-name>
    <url-pattern>/admin/html/add_video_link</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetVideoLinkDis</servlet-name>
    <servlet-class>controller.admin.video.SetVideoLinkDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetVideoLinkDis</servlet-name>
    <url-pattern>/admin/html/addvdolink</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListMainCateVideo</servlet-name>
    <servlet-class>controller.admin.video.ListMainCateVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMainCateVideo</servlet-name>
    <url-pattern>/admin/html/list_main_cate_in_video</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListSubOfMain</servlet-name>
    <servlet-class>controller.admin.video.ListSubOfMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSubOfMain</servlet-name>
    <url-pattern>/admin/html/list_sub_of_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAllVideoAdmin</servlet-name>
    <servlet-class>controller.admin.video.ListAllVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllVideoAdmin</servlet-name>
    <url-pattern>/admin/html/listvdo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeVideoStatus</servlet-name>
    <servlet-class>controller.admin.video.ChangeVideoStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeVideoStatus</servlet-name>
    <url-pattern>/admin/html/check_video_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteVideo</servlet-name>
    <servlet-class>controller.admin.video.DeleteVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVideo</servlet-name>
    <url-pattern>/admin/html/deletevideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetVideoYTDis</servlet-name>
    <servlet-class>controller.admin.video.SetVideoYTDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetVideoYTDis</servlet-name>
    <url-pattern>/admin/html/addvdoyt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SerVideoYT</servlet-name>
    <servlet-class>controller.admin.video.SetVideoYT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerVideoYT</servlet-name>
    <url-pattern>/admin/html/add_video_yt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateVideoToForm</servlet-name>
    <servlet-class>controller.admin.video.UpdateVideoToForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVideoToForm</servlet-name>
    <url-pattern>/admin/html/updatevideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateVideo</servlet-name>
    <servlet-class>controller.admin.video.UpdateVideo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVideo</servlet-name>
    <url-pattern>/admin/html/updatevdo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetUser</servlet-name>
    <servlet-class>controller.admin.users.SetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUser</servlet-name>
    <url-pattern>/admin/html/createuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetUserDis</servlet-name>
    <servlet-class>controller.admin.users.SetUserDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserDis</servlet-name>
    <url-pattern>/admin/html/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUsers</servlet-name>
    <servlet-class>controller.admin.users.ListUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsers</servlet-name>
    <url-pattern>/admin/html/listusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeStatusUser</servlet-name>
    <servlet-class>controller.admin.users.ChangeStatusUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatusUser</servlet-name>
    <url-pattern>/admin/html/changestatususer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserToForm</servlet-name>
    <servlet-class>controller.admin.users.UpdateUserToForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserToForm</servlet-name>
    <url-pattern>/admin/html/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserAdmin</servlet-name>
    <servlet-class>controller.admin.users.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserAdmin</servlet-name>
    <url-pattern>/admin/html/update_user_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>controller.users.init.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginDis</servlet-name>
    <servlet-class>controller.users.init.LoginDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDis</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivationUser</servlet-name>
    <servlet-class>controller.users.init.ActivationUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationUser</servlet-name>
    <url-pattern>/activate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ExpiredUsers</servlet-name>
  	<servlet-class>controller.users.init.ExpiredUsers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExpiredUsers</servlet-name>
  	<url-pattern>/expired</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/admin/html/pnf.jsp</location>
  </error-page>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>controller.admin.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/html/*</url-pattern>
  </filter-mapping>
</web-app>